node_modules/

# Ignore lockfiles we don't use
# package-lock.json
# yarn.lock
# bun-lock.yaml
# bun.lock

.DS_Store
.cache
.env

.data
.vercel
.output
.wrangler
.netlify
dist
/build/
/api/
/server/build
/public/build

.tanstack
.env*.local

.env*.local
scripts/editorjs_to_platejs/articles.json
scripts/editorjs_to_platejs/markdown_articles.json
